.message__show {
  display: flex;
  background-color: #e8e9eb;
  padding: 10px 20px;
  border-radius: 5px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  &--success {
    background-color: lightgreen;
    color: black;
    transition: 0.5s;
    opacity: 1;
  }

  &--error {
    background-color: #dc3d36;
    color: white;
    transition: 0.5s;
    opacity: 1;
  }
}
