.game {
  display: flex;
  gap: 48px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 500px;

    &--selectors {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &--button {
      width: 200px;
      padding: 10px;
      font-size: 16px;
      border-radius: 4px;
      border: none;
      outline: none;
      background-color: #def1ff;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        background-color: rgb(215, 229, 238);
      }
    }
  }
}
